html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 16px;
  background: #eeeeee;
}

* {
  user-select: none;
  -webkit-user-drag: none;
}

:root {
  --color-primary: #f25626;
  --calendar-width: 800px;
}

.primary-color {
  color: var(--color-primary);
}

.secondary-color {
  color: #cccccc;
}

.flex {
  display: flex;
}

.flex-col {
  flex: 1;
}

.flex-l {
  flex: 0 0 auto;
}

.flex-r {
  flex: 1;
}

.text-r {
  text-align: right;
}

.row {
  & + & {
    margin-top: 20px;
  }
}

.card-box {
  padding: 40px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
  background: #ffffff;
}

.viewer {
  --origin-x: 0px;
  --origin-y: 0px;
  --view-width: 3000px;

  width: 100vw;
  height: 100vh;

  transition: 0.4s;

  perspective: var(--view-width);
  perspective-origin: var(--origin-x) var(--origin-y);

  display: flex;
  justify-items: center;

  &-content {
    width: 1300px;
    margin: auto;
  }
}

.copyright-tip {
  transform: rotateY(15deg);
}

.calendar {
  &-box {
    width: var(--calendar-width);
    float: right;
    transform: rotateY(-15deg);
  }

  &-date {
    letter-spacing: 5px;
    font-weight: normal;
    margin: 0;

    sub {
      letter-spacing: 1px;
      font-weight: lighter;
    }
  }

  &-time,
  &-temperature {
    font-size: 2.2em;
    font-weight: lighter;
  }

  &-picture {
    object-fit: scale-down;
    overflow: hidden;
    display: block;
    margin: auto;
  }

  &-table {
    position: relative;
    left: -14px;
    border-spacing: 14px 20px;

    th,
    tr {
      text-align: center;
    }

    tr {
      margin-top: 20px;
    }

    th {
      font-size: small;
      padding: 0 5px;
      color: gray;
      font-weight: normal;
    }

    th,
    td {
      &.active {
        color: black;
        font-weight: bold;
        position: relative;

        &::before {
          content: '';
          position: absolute;
          bottom: -4px;
          left: 0;
          width: 100%;
          height: 1px;
          border-radius: 50%;
          background: linear-gradient(
            to right,
            rgba(255, 255, 255, 0),
            rgba(242, 86, 38, 0.9) 20% 80%,
            rgba(255, 255, 255, 0)
          );
        }
      }
    }
  }
}
